:root {
  --main-bg-color: #dfdfdf;
}

body {
  font-family: Varela Round, arial, sans-serif;
  margin: 0px;
}

header {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  background: rgb(241, 241, 241);
  text-align: center;
  position: relative;
  z-index: 1;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 0px;
}

#menu-label {
  display: inline-block;
  font-weight: 400;
  vertical-align: -20%;
}

.line {
  display: inline-block;
  width: 20px;
  border: 2px solid rgb(200, 200, 200);
}

#menu-label:hover {
  font-weight: 600;
  font-size: 21px;
}

.menu {
  font-size: 16px;
  display: block;
  line-height: 1.6em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  border-top: solid rgb(200, 200, 200);
  border-bottom: solid rgb(200, 200, 200);
  margin-right: 10%;
  margin-left: 10%;
  padding-left: 0px;
}

.menu li {
  text-decoration: none;
  list-style: none;
}

.menu li a {
  color: rgb(63, 63, 63);
  height: 40px;
  line-height: 50px;
  text-decoration: none;
}

.menu li a:hover {
  color: #040404;
  font-weight: 600;
  font-size: 18px;
}

.box {
  display: block;
  text-align: center;
  align-items: center;
  padding-bottom: 30px;
  background: linear-gradient(rgb(241, 241, 241), var(--main-bg-color));
  padding-left: 20px;
  padding-right: 20px;
}

.midTitle {
  padding-top: 5px;
  text-align: center;
}

.summary {
  padding-left: 2%;
  padding-right: 1%;
  color: hsl(0, 0%, 6%);
  font-size: 0.9em;
  line-height: 1.8em;
  margin-left: 12%;
  margin-right: 10%;
  text-align: justify;
}

.photo {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 3px solid rgb(200, 200, 200);
  border-bottom: 3px solid rgb(200, 200, 200);
  margin-left: 12%;
  margin-right: 10%;
}

.photo-line {
  display: inline-block;
  width: 220px;
  margin-bottom: 10%;
}

#selfie {
  width: 50%;
  vertical-align: middle;
}

#read-more-main {
  font-size: 18px;
  line-height: 1.6em;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

#read-more-main:hover {
  color: rgb(82, 82, 82);
}

#work-beining-photo {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
}

#philosophy {
  margin-top: 30px;
  text-align: center;
  line-height: 1em;
}

#philosophy p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 1%;
}

#eduApp {
  border-top: 2px solid rgb(200, 200, 200);
}

.eduBox {
  margin-top: 50px;
  border: 2px solid grey;
  border-radius: 25px;
  margin-bottom: 50px;
}

.eduHeader {
  border-bottom: 2px solid grey;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: var(--main-bg-color);
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

dt {
  font-weight: bold;
}

#eduMain {
  padding-left: 15px;
  line-height: 40px;
}

#psu {
  border-top: 1px solid grey;
  padding-top: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#bu {
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

table {
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  line-height: 50px;
}

table td {
  border-top: 2px solid grey;
  height: 50px;
}

.outerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  background: linear-gradient(rgb(241, 241, 241), var(--main-bg-color));
  padding-left: 20px;
  padding-right: 20px;
}

#eduCat {
  text-align: center;
}

.skills {
  font-size: 20px;
  font-weight: bold;
  border: 2px solid grey;
  border-radius: 25px;
}
.skills li {
  text-decoration: none;
  list-style: none;
  display: inline;
  margin-right: 10px;
}

.skills h4 {
  background: var(--main-bg-color);
  text-align: center;
  margin-top: 0px;
  padding-top: 10px;
  border-bottom: 1px solid grey;
  padding-bottom: 15px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.skills ul {
  margin-right: 20px;
}

#out-word {
  font-weight: bold;
  margin-top: 8%;
}

#jump-out-word {
  margin-top: 0px;
}

.work-title {
  border-top: 1px solid grey;
  padding-top: 20px;
  margin-top: 0px;
  padding-bottom: 10px;
}

.work-project {
  text-align: justify;
  margin-left: 18%;
  margin-right: 15%;
  font-weight: bold;
  font-size: 18px;
}

.work-project li {
  list-style-type: disc;
  margin-left: 5%;
  margin-right: 15%;
  font-weight: normal;
}

button {
  border-radius: 10px;
}

button:hover {
  font-weight: bold;
}

#ball-words {
  border-top: 2px solid rgb(200, 200, 200);
  padding-top: 2%;
  margin-top: 0px;
  font-weight: bold;
  font-size: 16px;
}

#ball-button {
  margin-bottom: 2%;
}

#happy-balls {
  display: block;
  margin: 0 auto;
  width: 60%;
  margin-bottom: 50px;
  background-color: #e1f5fe;
  overflow: hidden;
}

#js-project {
  text-align: center;
}

.top-link {
  width: 35px;
  position: fixed;
  right: 3%;
  top: 90%;
}

.innerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#ju-pic {
  padding-left: 3%;
  padding-right: 2%;
}

.innerBox article {
  flex-basis: 500px;
  margin-left: 50px;
  justify-content: right;
}

.innerBox article h4 {
  text-align: center;
}
.innerBox section h4 {
  text-align: center;
  justify-items: center;
}

.innerBox section {
  justify-content: center;
}

.innerBox section img {
  padding-left: 20px;
  padding-right: 20px;
}

#best-friend p {
  text-align: justify;
  margin-left: 8%;
  margin-right: 8%;
}

#juliet {
  flex-basis: 400px;
  padding-left: 3%;
  padding-right: 3%;
}

#juliet h4 {
  text-align: center;
}

#juliet p {
  text-align: justify;
}

/* use variable */
/* use media queries  */

@media screen and (max-width: 1280px) {
  h1 {
    padding-bottom: 0px;
  }
  .menu {
    padding-top: 0px;
  }
  .menu li {
    display: list-item;
    padding: 0px;
  }

  @media screen and (max-width: 640px) {
    .contact {
      font-size: 15px;
    }

    h1 {
      font-size: 30px;
    }

    .menu {
      font-size: 20px;
    }

    .menu li a {
      margin: 20px;
      height: 20px;
    }

    .box {
      flex-direction: column;
    }
    .summary {
      max-width: 100%;
    }

    .innerBox {
      flex-direction: column;
    }

    .innerBox article {
      flex-basis: auto;
      margin-left: 0px;
    }
    #juliet {
      flex-basis: auto;
    }
  }
}

.top-link:hover {
  width: 38px;
  transition: all 1s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transform: rotate(360deg);
}

#greeting {
  color: rgb(53, 49, 49);
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
}

#main-box {
  font-weight: 400;
  font-size: 26px;
}

form {
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  border-width: 2px;
  border-top: 2px solid rgb(200, 200, 200);
  border-left: 0px;
  border-right: 0px;
}


form p {
  font-size: 20px;
  margin-left: 13%;
  text-align: left;
  margin-bottom: 0;
}

.input-text {
  border: 0;
  border-bottom-width: 2px;
  border-style: solid;
  border-color: grey;
  width: 75%;
  
  appearance: none;
  border-radius: 3px;
  font-family: inherit;
  padding: 2px 2px 0 2px;
  height: 56px;
  font-weight: 400;
  background: var(--main-bg-color);
}

.input-text:focus {
  background: rgba(205, 205, 205, 0.221);
  outline: none;
}

#main-form {
  font-size: 18px;
  padding-bottom: 10%;
}

#your-message {
  padding-top: 20px;
  height: 100px;
}

#reason{
padding-bottom: 1%;
}

#submit-button {
  display: block;
  margin: 0 auto;
}

#submit-button-box {
  padding-bottom: 50px;
}

#error{
  font-size: 19px;
  margin-left: 10%;
  margin-right: 10%;
  color: red;
  padding-top: 2%;
}

footer {
  font-size: 15px;
  background: var(--main-bg-color);
  padding-top: 20px;
  padding-bottom: 10px;
  color: #52575c;
  text-align: center;
  font-style: normal;
  border-top: 2px solid rgb(200, 200, 200);
}
